django==2.0
djangorestframework==3.8.2
coreapi==2.3.3
python-decouple==3.1
django-rest-swagger==2.2.0
psycopg2==2.7.5
whitenoise==3.3.1
dj-database-url==0.5.0
dj-static==0.0.6
gunicorn==19.7.1
django-cors-headers==3.1.0
